.Animate-top {
  position: relative;
  animation: animatetop 0.4s;
}

.Bar-text-grey {
  color: #757575 !important;
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

/* .Bgimg {
  background-image: url(img/GameDesign/Sugar-coatedCoin/Sugar-coatedCoin.png);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
@media (max-width: 599px) {
  .Bgimg {
    background-image: url(img/GameDesign/Sugar-coatedCoin/Sugar-coatedCoin.png);
    min-height: 50%;
    background-position: center;
    background-size: cover;
  }
} */

.Button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  font-size: 36px !important;
}

.Center {
  text-align: center;
}

.Clear {
  content: "";
  display: table;
  clear: both;
}

.Content {
  margin-left: auto;
  margin-right: auto;
}

.Content-list {
  font-size: 36px !important;
  float: right !important;
  color: #000 !important;
  background-color: #fff !important;
}

.Display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.Footer {
  color: #000 !important;
  background-color: #dedede !important;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  text-align: center !important;
  font-size: 24px !important;
  opacity: 0.60;
  padding: 0.01em 16px;
}

.Opacity,
.Hover-opacity:hover {
  opacity: 0.60
}

.Opacity-off,
.Hover-opacity-off:hover {
  opacity: 1
}

.Sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 99;
  overflow: auto;
  color: #fff !important;
  background-color: #000 !important;
  font-size: 36px !important;
}



.w3-third {
  float: left;
}

/*圖片淡入文字*/
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  /* padding: 16px; */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #272727;
}

.container:hover .overlay {
  opacity: 0.9;
}

.padding10 {
  padding: 10px;
}

.text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*cv頁特殊文字設定*/
.text-gray {
  color: #666666;
}

.text-white {
  color: white;
}

.text22 {
  font-size: 22px;
}

.text17 {
  font-size: 17px;
}

.text15 {
  font-size: 15px;
}

.text12 {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.word-break {
  word-break: break-all;
}


/*文字rwd*/
.rwdh6 {
  font-size: 1.2rem;
}

.rwdtxt {
  font-size: 0.8rem;
}

@media (max-width: 599px) {
  .rwdtxt {
    font-size: calc(0.8rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }

  .rwdh6 {
    font-size: calc(1.1rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .rwdtxt {
    font-size: calc(0.8rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }

  .rwdh6 {
    font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
  }
}

@media (min-width: 1200px) {
  .rwdtxt {
    font-size: 0.95rem;
  }

  .rwdh6 {
    font-size: 1.2rem;
  }
}

/*兩側空間rwd*/
.margin-right-left {
  margin-right: 50px;
  margin-left: 50px;
}

@media (max-width: 800px) {
  .margin-right-left {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  .margin-right-left {
    margin-right: 50px;
    margin-left: 50px;
  }
}


/*漂浮*/
.floating-area {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  transform: translateY(0.9rem);
  opacity: 0.7;
  transition: transform 1.2s ease-in-out, opacity 0.8s ease-in-out;
}

.floating-area.animate {
  transform: translateY(0);
  opacity: 1;
}


/*landing page ani*/
.image-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}


#image1 {
  position: absolute;
  z-index: -4;
  width: 100%;

}

#image2 {
  position: absolute;
  z-index: -3;
  width: 100%;

}

#image3 {
  position: absolute;
  z-index: -2;
  width: 100%;

}

#image4 {
  position: absolute;
  z-index: -1;
  width: 100%;

}

#image5 {
  position: absolute;
  z-index: 0;
  width: 100%;

}

#imagewhite {
  z-index: 0;
  width: 100%;
  /* position: fixed; */
  /*fixe維持在上層*/
  position: absolute;
  top: 0px;
  /*貼上面*/
  left: 0px;
  /*貼左邊*/
}

.animated-title {
  animation: titlescaleAnimation 10s infinite;
  /* 启用动画 */
}

@keyframes titlescaleAnimation {

  0%,
  100% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(0.98);
  }
}

.animated-goldfish {
  animation: goldfishAnimation 15s infinite;
  /* 启用动画 */
}

@keyframes goldfishAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animated-head {
  animation: headAnimation 15s infinite;
  /* 启用动画 */
}

@keyframes headAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

.text-area {
  padding: 8% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}


/* 首頁按鈕 */
.index-btn-grid {
  width: 33%;
  max-width: 700px; /* 最大宽度 */
  height: auto; /* 高度自适应 */
}
@media screen and (max-width: 800px) {
  .index-btn-grid {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .index-btn-grid {
    display: none;
  }
}

.index-btn{
  background-color: #FFFFFF;
  border:1px solid #ccc!important
}

/*首頁標題*/
.display-left {
  position: absolute;
  top: 83%;
  left: 9%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}
@media screen and (max-width: 800px) {
  .display-left {
    position: absolute;
    top: 110%;
    left: 4%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
  }
}

.section-title {
  display: flex;
  align-items: center;        /* 垂直置中 */
  justify-content: center;    /* 水平置中 */
  color: #6c6c6c;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  height: 40px;                /* 增高一點以容納 padding */
  border: 2px solid rgb(108, 108, 108);
  border-radius: 8px;
  background-color: transparent;
  margin: 10px 0;
  box-sizing: border-box;
}